* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

::placeholder {
  color: #cad4e1;
  font-size: 1em;
}

.my-input {
  size: 10rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
}
